.window {
  width: 528px;
  height: 581px;
  background-color: var(--main-background);
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
    0px 2px 1px #00000033;
  border-radius: 4px;
  position: relative;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000033;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  color: var(--logo-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--main-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__button:hover {
  animation-name: closeWindow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes closeWindow {
  0% {
    background-color: var(--main-background);
  }

  100% {
    background-color: var(--main-blue);
  }
}

.is-active::after {
  content: "";
  background-color: var(--main-blue);
  width: 53px;
  height: 4px;
  position: absolute;
  top: 45px;
  right: 0;
}

.is-active {
  position: relative;
}

.modal__data {
  color: var(--contact-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal__icon {
  position: absolute;
  fill: #000000;
  bottom: 11px;
  left: 15px;
  bottom: 15px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 40px;
  position: relative;
}

.modal__label:hover svg,
.modal__label:focus svg,
.modal__label:active svg {
  border-color: var(--main-blue);
  fill: var(--main-blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 4px;
  padding-left: 42px;
  transition-property: border-color;
}

.modal__input:focus,
.modal__input:hover {
  border-color: var(--main-blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal__legend {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 12px;
}

.modal__textera {
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 12px;
  padding-left: 16px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textera:focus,
.modal__textera:hover {
  border-color: var(--main-blue);
  outline: none;
}
