.terms {
  display: flex;
  justify-content: center;

  &__regulations {
    color: $mainBlue;
    cursor: pointer;
  }

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $mainBlue;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__checkbox {
    appearance: none;
  }

  & + .checkbox__form {
    cursor: pointer;
    margin-left: 0;

    &::before {
      position: absolute;
      display: block;
      top: 15px;
      content: "";
      width: 16px;
      height: 15px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Cpath fill='%23212121' d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z'/%3E%3C/svg%3E");
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 15px;
      width: 16px;
      height: 15px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Crect width='16' height='15' fill='%232196F3' rx='2'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
      background-position: center;
      border: none;

      &:checked + & {
        display: block;
      }
    }
    p {
      margin-left: 24px;
    }
  }
}
