.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  color: $logoColor;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $mainBackground;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  &:hover {
    animation-name: closeWindow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

@keyframes closeWindow {
  0% {
    background-color: $mainBackground;
  }

  100% {
    background-color: $mainBlue;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000033;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &__legend {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 12px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 40px;
    position: relative;
    &:hover svg,
    &:focus svg,
    &:active svg {
      border-color: $mainBlue;
      fill: $mainBlue;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__data {
    color: $contactColor;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
  }

  &__icon {
    position: absolute;
    fill: #000000;
    bottom: 11px;
    left: 15px;
    bottom: 15px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 4px;
    padding-left: 42px;
    transition-property: border-color;
    &:focus,
    &:hover {
      border-color: $mainBlue;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      outline: none;
    }
  }

  &__textera {
    width: 448px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    padding-top: 12px;
    padding-left: 16px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    &:focus,
    &:hover {
      border-color: $mainBlue;
      outline: none;
    }
  }

  &__submit {
    color: $mainBackground;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: $mainBlue;
    position: absolute;
    margin-left: 164px;
    margin-bottom: 40px;
    &:hover,
    &:focus {
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
