.wrapper {
  font-weight: 900px;
  line-height: 1.36;
  text-align: center;
  color: $mainBackground;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $footerBackground;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: auto;

  &__tittle {
    font-size: 44px;
  }
}
