$mainBackground: #ffffff;
$mainColor: #212121;
$footerBackground: #2f303a;
$mainBlue: #2196f3;
$contactColor: #757575;
$teamBackground: #f5f4fa;
$logoColor: #000000;
$footerMail: rgba(255, 255, 255, 0.6);
$borderColor: #eeeeee;
$socialMedia: #afb1b8;
